*{
  font-family: 'Fira Sans', sans-serif;
  color: white;
}
.content a{
  margin: 0;
  padding: 0;
  text-decoration: none;
  position: relative;
  height: 300px;
  width: 85%;
  left: 7.5%;
  background-color: dimgrey;
  top: 2%;
  border-radius: 3vw;
  margin-bottom: 2%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(60, 60, 60, 1);
  margin: 0;
  padding: 0;
}
h1{
  position: relative;
  font-size: 6vw;
}
#header{
  position: fixed;
  top: 0;
  height: 140px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid dimgrey;
  z-index: 1000;
  background-color: grey;
}
.content{
  position: absolute;
  top: 140px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(60, 60, 60, 1);
}
.room{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;

}
.room p{
  font-size: 6vw;
}
#removeButton{
  position: relative;
  font-size: 9vw;
  cursor: pointer;
  left: 92%;
  top: -35%;
}
#addRoom{
  margin-top: 1%;
  position: relative;
  font-size: 12vw;
  text-align: center;
}
#addSmart{
  margin-top: 1%;
  position: relative;
  font-size: 12vw;
  text-align: center;
}
.smart{
  text-decoration: none;
  position: relative;
  height: 400px;
  width: 85%;
  left: 7.5%;
  background-color: dimgrey;
  top: 2%;
  border-radius: 3vw;
  margin-bottom: 2%;
  border: 2px solid black;
  display: flex;
}
.smart p{
  font-size: 5vw;
  margin-top: 1%;
  margin-left: 2%;
  padding: 0;
}
.bottom{
  position: fixed;
  bottom: 0;
  height: 150px;
  width: 100%;
  background-color: grey;
  border-top: 2px solid dimgrey;
  font-size: 6vw;
  z-index: 1000;
}
.bottom a{
  position: relative;
  height: 100%;
  width: 50%;
  left: 0;
  text-decoration: none;
  bottom: 0;
  margin: 0;
  padding: 0;
}
.back{
  position: relative;
  height: 100%;
  width: 50%;
  margin: 0;
  padding: 0;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 0px 0px 0px dimgrey;
}
.addBottom{
  position: relative;
  height: 100%;
  width: 50%;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 0px 0px 0px dimgrey;
}
.bottom p{
  margin: 0;
  padding: 0;
}
.loading {
  position: absolute;
  padding: 100px;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
  text-align: center;
  width: 100%;
  height: 101%;
  opacity: 0.95;
}
div#load_screen{
	background: #000;
	opacity: 1;
	position: fixed;
    z-index:10;
	top: 0px;
	width: 100%;
	height: 1600px;
}
div#load_screen > div#loading{
	color:#FFF;
	width:120px;
	height:24px;
	margin: 300px auto;
}
.newRoom{
  z-index: 10000;
  display: none !important;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
#newRoomBox{
  position: relative;
  width: 90%;
  height: 18%;
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid white;
  border-radius: 3vw;
}
#newRoomBox h1{
  text-align: center;
}
#newRoomBox form input{
  position: relative;
  width: 92%;
  height: 7vw;
  color: black;
  font-size: 6vw;
  text-align: center;
  display: table;
  margin: 0 auto;
}
#newRoomBox form #createButton{
  position: relative;
  width: 40%;
  border-radius: 1vw;
  border: 1px solid white;
  background-color: white;
  height: 10vw;
  color: black;
  font-size: 6vw;
  text-align: center;
  display: table;
  margin: 0 auto;
}
